section.contentblock__section
  .container
        h1.contentblock__section_h1 Contact us
        p.contentblock__section_p
          | To contact us please use the form below.
          br
          |                     Please note that due to the high volume of enquiries we might not be able to get back to you the same day.
        p.contentblock__section_p
          | If your enquiry relates to any of the courses, please use the designated comments section under the course as we do not provide support over email.